<h3>Stores within 25 miles</h3>
<h4>17 Total Stores</h4>

<% 17.times do |store| %>
<div class="store">
<h5 class="name"></h5>
<p class="city"></p>
<p class="distance"></p>
<p class="phone_number"></p>
<p class="store_type"></p>

</div>

<% end %>
